/* colors.less*/
@shadow: #ececec;
@bg-color: #f9f9f9;
@bg-color-con: white;
@main: #63d1bb;
@main-dark: #56c3b2;
@btn-color: #444444;
@border-clr: #ececec;
@link: #000000;
@line: #e5e5e5;
@popup-background: rgba(255, 255, 255, 0.9);
@popup-outline: #c6c6c6;
@popup-shadow: rgba(0, 0, 0, 0.25);
@popup-title: #444444;
@popup-item-border: rgba(68, 68, 68, 0.1);
@popup-item-border-hov: rgba(68, 68, 68, 0.1);

/* mixins.less */

.container(@width; @padding) {
  width: @width;
  padding-left: @padding;
  padding-right: @padding;
}

.center(@width) {
  width: @width;
  margin: 0 auto;
}

.font(@size; @weight; @line-height) {
  font-size: @size;
  font-weight: @weight;
  line-height: @line-height;
}

.button(@width: 260px; @min-height: 52px;) {
  width: @width;
  min-height: @min-height;
  .font(17px; 700; 20px);
  text-align: center;
  text-transform: uppercase;
  border: 2px solid @btn-color;
  color: @btn-color;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.null(@margin: 0; @padding: 0) {
  margin: @margin;
  padding: @padding;
}

/* variables.less */

@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-only: 767px;
@retina-dppx: 1.5dppx;


/* scaffolding.less */
@font-face {
  font-weight: normal;
  font-family: 'OpenSans';
  font-style: normal;
  src: url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-weight: bold;
  font-family: 'OpenSans';
  font-style: normal;
  src: url('../fonts/opensansbold.woff2') format('woff2'), url('../fonts/opensansbold.woff') format('woff');
}

body {
  min-width: 320px;
  .null();
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  .null();
}


/* header.less */

.head {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 1px 0 0 @shadow, inset 0 -1px 0 0 @shadow;

  &__wrapper {
    margin: 0 auto;
    width: 320px;
    padding-top: 22px;

  }

  &__nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  &__logo {
    height: 35px;
  }

  &__nav {
    margin-left: 67px;
  }

  &__logo-img {
    width: 86px;
    height: 35px;
  }
}

@media (min-width: @tablet-width) {
  .head {
    &__wrapper {
      width: 668px;
      display: flex;
      padding: 0 50px;
    }

    &__nav-top {
      display: flex;
      justify-content: flex-start;
      position: absolute;
    }

    &__logo {
      width: 112px;
      height: 46px;
      padding-top: 22px;
    }

    &__logo-img {
      width: 112px;
      height: 46px;
    }
  }
}

@media (min-width: @desktop-width) {
  .head {
    &__wrapper {
      width: 1050px;
      flex-direction: column;
    }

    &__nav-top {
      display: flex;
      justify-content: center;
      position: initial;
      order: 1;
      margin-top: -105px;
      padding-bottom: 10px;
    }

    &__logo {
      width: 148px;
      height: 73px;

     }

    &__logo-img {
      width: 148px;
      height: 73px;
    }
  }
}


/* search-form.less */

.search-form {
  position: relative;
  box-shadow: 0 -1px 0 0 @border-clr;

  &__item {
    width: 100%;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 76px;
    border: none;

    &::placeholder {
      .font(17px; 700; 24px);
      color: @link;
    }
  }

  &__icon {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 18px;
    height: 18px;
    opacity: 20%;
  }
}

@media (min-width: @tablet-width) {
  .search-form {
    min-height: 89px;
    margin-left: auto;
    box-shadow: 1px 0 0 0 @border-clr;

    &__item {
      width: 83px;
      padding-top: 36px;
      padding-left: 82px;
      padding-bottom: 35px;
      box-shadow: inset 0 1px 0 0 @shadow,
        inset 1px 0 0 0 @shadow;
      background-color: transparent;
    }

    &__item:focus {
      width: 237px;
    }

    &__icon {
      top: 36px;
      left: 34px;
      z-index: -1;
    }
  }
}

@media (min-width: @desktop-width) {
  .search-form {
    &__item:focus {
      width: 180px;
      padding-left: 45px;
    }

    &__item:focus ~ &__icon {
      left: 15px;
    }

    &__item::placeholder {
      font-size: 15px;
    }
  }
}


/* cart-delivery.less */

.cart-del {
  list-style: none;
  .null();

  &__item--tablet {
    display: none;
  }

  &__link {
    position: relative;
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 76px;
    .font(17px; 700; 24px);
    color: @link;
    text-decoration: none;
    box-shadow: 0 -1px 0 0 @border-clr;
  }

  &__icon {
    position: absolute;
    top: 31px;
    left: 30px;
    width: 21px;
    height: 18px;
    opacity: 20%;
  }

}

@media (min-width: @tablet-width) {
  .cart-del {
    width: 264px;

    &__item {
      text-align: right;
    }

    &__link {
      padding-top: 30px;
      padding-bottom: 35px;
    }

    &__icon {
      top: 35px;
      left: 32px;
    }

    &__item--tablet {
      display: block;
    }

    &__link--tablet {
      position: absolute;
      z-index: 1;
      right: 0;
      padding: 0;
      padding-top: 17px;
      width: 264px;
      .font(15px; 400; 24px);
      text-align: right;
      box-shadow: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .cart-del {
    width: 267px;
  }
}



/* nav-main.less */

.nav-main {
  position: relative;
  .center(320px);

  &__icon {
    position: absolute;
    top: -80px;
    right: 0;
    display: block;
    width: 80px;
    height: 80px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  &--closed &__icon {
    &::before {
      content: "";
      position: absolute;
      top: 32px;
      right: 31px;
      width: 20px;
      height: 2px;
    }

  }

  &--opened &__icon {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 38px;
      right: 27px;
      width: 27px;
      height: 2px;
    }

  }
}

@media (max-width: @mobile-only) {
  .nav-main {
    &--closed .menu-main {
      display: none;
    }

    &--closed .search-form {
      display: none;
    }

    &--closed .cart-del {
      display: none;
    }

  }
}

@media (min-width: @tablet-width) {
  .nav-main {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 0;

    &__icon {
      display: none;
    }
  }
}


/* menu-main.less */

.menu-main {
  &__list {
    list-style: none;
    .null();
  }

  &__item--desktop {
    display: none;
  }

  &__link {
    display: block;
    .font(17px; 700; 24px);
    text-decoration: none;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 76px;
    color: @link;
    box-shadow: 0 -1px 0 0 @border-clr;
  }
}

@media (min-width: @tablet-width) {
  .menu-main {
    order: 1;
    z-index: 1;
    width: 334px;

    &__list {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      width: 334px;
    }

    &__link {
      width: 147px;
      padding: 0;
      padding-top: 17px;
      padding-right: 20px;
      font-size: 15px;
      box-shadow: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .menu-main {
    order: 0;
    width: 445px;

    &__list {
      flex-wrap: wrap;
      width: 440px;
      margin-left: -30px;
    }

    &__link {
      width: 160px;
      padding: 30px 24px 30px 30px;
      font-size: 17px;
    }

    &__item {
      height: 89px;
    }

    &__item:first-child {
      box-shadow: 1px 0 0 0 @border-clr;
    }

    &__item--desktop {
      display: block;
    }

    &__link--desktop {
      font-size: 15px;
    }

  }
}


/* main.less */

.main {
  background: url(../img/hero-mobile.jpg) no-repeat 0 0;
  background-position: 50% -15px;
  background-color: @bg-color;

  &__title {
    font-size: 27px;
    line-height: 30px;
    .container(260px; 30px);
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 120px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .main {
    background: url(../img/hero-tablet@1x.jpg) no-repeat 0 0;
    background-position: 50% -2px;
    background-color: @bg-color;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }

    &__title {
      .container(668px; 50px);
      padding-top: 155px;
      padding-bottom: 372px;
      font-size: 43px;
      line-height: 50px;
    }
  }
}

@media (min-width: @desktop-width) {
  .main {
    background-position: 50% -5px;

    &__title {
      width: 1050px;
      padding-bottom: 356px;
      font-size: 53px;
      line-height: 57px;
    }
  }
}

/* catalog-block.less */

.catalog-block {
  .center(320px);
  color: @bg-color-con;

  h3 {
    .font(19px; 700; 24px);
  }

  &__item-interior {
    .container(260px; 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    background-color: @main;

    .img-interior {
      margin-right: 9px;
      opacity: 50%;
    }
  }
  &__item-toys {
    .container(260px; 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    background-color: @main-dark;

    .img-toys {
      opacity: 50%;
    }
  }

}

@media (min-width: @tablet-width) {
  .catalog-block {
    display: flex;
    .container(668px; 50px);
    margin: 0 auto;
    position: relative;

    &__item-interior,
    &__item-toys {
      width: 334px;
    }

    &__title {
      padding-top: 28px;
      padding-bottom: 37px;
      padding-left: 36px;
      .font(20px; 700; 30px);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      right: 0;
      z-index: 1;
      width: 100%;
      height: 24px;
      background: url(../img/zigzag-fill.svg) no-repeat 0 0;
      background-size: 768px 24px;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog-block {
    width: 1050px;

    &__item-interior,
    &__item-toys {
      width: 525px;
    }


    &::after {
      bottom: -18px;
      height: 34px;
      background-size: 1150px 34px;
    }
  }
}



/* features.less */

.features {
  .container(260px; 30px);
  margin: 0 auto;
  background-color: @bg-color-con;
  position: relative;
  padding-bottom: 35px;

  &__text {
    display: flex;
    flex-direction: column-reverse;
  }

  &__week {
    .font(17px; 700; 20px);
    text-transform: uppercase;
    color: @main;
    padding-bottom: 30px;
  }

  &__title {
    .font(25px; 700; 30px);
    padding: 34px 0 10px 0;
    margin: 0;
  }

  &__charact {
    display: flex;
    padding-top: 34px;
  }

  &__charact-col-1 {
    padding-right: 30px;
  }

  &__charact-row {
    box-shadow: inset 0 -1px 0 0 @shadow;
    height: 40px;

  }

  &__main-img {
    padding: 30px 0;
  }

  &__cost {
    .font(17px; 700; 24px);
    text-align: center;
    padding-bottom: 28px;
  }

  &__button {
    .button();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    right: 0;
    width: 100%;
    height: 6px;
    background: url(../img/zigzag-line.svg) no-repeat 0 0;
    background-size: 320px 7px;
  }

}

@media (min-width: @tablet-width) {
  .features {
    position: relative;
    .container(668px; 50px);
    padding-bottom: 63px;

    &__text {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 48px;
    }

    &__week {
      width: 72px;
      padding-left: 27px;
      padding-right: 27px;
      padding-bottom: 4px;
      line-height: 20px;
      text-align: center;
    }

    &__title {
      max-width: 500px;
      margin-left: -3px;
      padding-top: 40px;
      padding-bottom: 0;
      .font(43px; 700; 50px);
    }

    &__main-img {
      position: absolute;
      bottom: 33px;
      right: 50px;
      width: 334px;
      height: 404px;
      margin: 0;
    }

    &__descr {
      width: 290px;
      .font(17px; 400; 30px);
    }

    &__charact {
      width: 290px;
      margin-bottom: 56px;
    }

    &__cost {
      width: 290px;
      font-size: 20px;
    }

    &__button {
      width: 290px;
    }

    &::after {
      height: 17px;
      background: url(../img/zigzag-line.svg) no-repeat 0 0;
      background-size: 768px 17px;
      transform: scale(1, -1);
    }
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: 1050px;
    padding-bottom: 90px;

    &__text {
      flex-direction: row;
      justify-content: end;
      width: 1050px;
    }

    &__week {
      margin-left: 20px;
      margin-right: 30px;
    }

    &__title {
      z-index: 1;
      max-width: 700px;
      padding-top: 118px;
      font-size: 53px;
      line-height: 57px;
    }

    &__main-img {
      bottom: 60px;
      width: 525px;
      height: 635px;
    }

    &__descr {
      margin-left: 175px;
    }

    &__charact {
      margin-left: 175px;
      margin-bottom: 112px;
    }

    &__cost {
      margin-left: 175px;
    }

    &__button {
      margin-left: 175px;
    }

    &::after {
      left: 50px;
      width: 1050px;
      height: 23px;
      background: url(../img/zigzag-line.svg) no-repeat 0 0;
      background-size: 1050px 23px;
    }
  }
}


/* about-us.less */

.about-us {
  .container(260px; 30px);
  margin: 0 auto;
  padding-top: 35px;
  background-color: @bg-color-con;

  &__title {
    margin: 0;
    .font(25px; 700; 30px);
  }

  &__features {
    .font(17px; 700; 20px);

    img {
      display: flex;
      padding-top: 30px;
      padding-bottom: 25px;

    }
  }
}

@media (min-width: @tablet-width) {
  .about-us {
    .container(668px; 50px);
    padding-top: 55px;
    padding-bottom: 56px;

    &__features {
      display: flex;
      flex-wrap: wrap;
    }

    &__features-item {
      width: 334px;
      margin-bottom: 26px;
    }

    &__title {
      margin-left: -4px;
      margin-bottom: 18px;
      .font(43px; 700; 50px);
    }

    p {
      .font(20px; 700; 22px);
    }
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    .container(700px; 225px);
    padding-top: 66px;

    &__features-item {
      width: 350px;
    }

    &__title {
      .font(53px; 700; 57px);
    }
  }
}

/* reviews.less */

.reviews {
  .container(260px; 30px);
  margin: 0 auto;
  padding-top: 35px;
  background-color: @bg-color-con;
  position: relative;
  padding-bottom: 35px;

  &__title {
    .font(25px; 700; 30px);

  }

  &__text {
    .font(15px; 400; 30px);
    padding-bottom: 35px;
  }

  &__author-name {
    .font(17px; 700; 24px);
    font-style: normal;
  }

  &__author-inst {

    .font(17px; 400; 30px);
    font-style: normal;
  }

  &__buttons {
    display: flex;
    padding: 38px 0;
  }

  &__but-left {
    box-sizing: border-box;
    .button(130px; 52px);
    border: 1px solid @border-clr;
    border-right: none;
    display: flex;
    justify-content: center;

    &::after {
      content: "";
      width: 50px;
      height: 26px;
      background: url(../img/huge-arrow-left.svg) no-repeat 0 0;    }
  }

  &__but-right {
    box-sizing: border-box;
    .button(130px; 52px);
    border: 1px solid @border-clr;
    display: flex;
    justify-content: center;

    &::after {
      content: "";
      width: 50px;
      height: 26px;
      background: url(../img/huge-arrow-right.svg) no-repeat 0 0;
    }
  }

  &__write {
    .button();

  }

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    right: 0;
    width: 100%;
    height: 6px;
    background: url(../img/zigzag-line.svg) no-repeat 0 0;
    background-size: 320px 7px;
    z-index: 1;
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    .container(668px; 50px);
    padding-top: 77px;
    padding-bottom: 123px;
    background: url(../img/review@1x.jpg) no-repeat 0 0;
    background-color: @bg-color-con;
    position: relative;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }

    &__title {
      width: 490px;

      margin: 0 0 50px -5px;
      .font(43px; 700; 50px);
    }

    &__text {
      padding-bottom: 48px;
      .font(17px; 400; 30px);
    }

    &__author-name {
      width: 255px;
      font-size: 18px;
    }

    &__buttons {
      position: absolute;
      right: 8px;
      bottom: 0;
      width: 160px;
      margin: 0;
      padding-bottom: 124px;
      padding-right: 68px;
    }

    &__but-left {
      border: none;

      &::after {
        left: 12px;
      }
    }

    &__but-right {
      border: none;

      &::after {
        right: 11px;
      }
    }

    &__write {
      position: absolute;
      top: 79px;
      right: 50px;
      width: 175px;
    }

    &::after {
      height: 17px;
      background: url(../img/zigzag-line.svg) no-repeat 0 0;
      background-size: 768px 17px;
      transform: scale(1, -1);
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 1050px;
    padding-top: 71px;
    padding-bottom: 130px;
    background-position: left 50px top;

    &__container {
      margin-left: 175px;
    }

    &__title {
      margin-bottom: 48px;
      .font(53px; 700; 57px);
    }

    &__author-name {
      font-size: 17px;
    }

    &__text {
      width: 770px;
    }

    &__buttons {
      bottom: 2px;
    }

    &::after {
      left: 50px;
      width: 1050px;
      height: 23px;
      background: url(../img/zigzag-line.svg) no-repeat 0 0;
      background-size: 1050px 23px;
    }
  }
}


/* contacts.less */

.contacts {
  .center(320px);
  margin: 0 auto;
  padding: 40px 0;
  background-color: @bg-color-con;

  &__container {
    .container(260px; 30px)
  }

  &__title {
    .font(18px; 700; 30px);
  }

  &__email {
    display: flex;
    margin-bottom: 30px;

    a {
      margin-left: 30px;
      padding-bottom: 2px;
      color: @link;
      border-bottom: 1px solid @main;
      text-decoration: none;
    }
  }

  &__address {
    display: flex;
    line-height: 30px;

    span {
      width: 141px;
      margin-left: 30px;
    }
  }

  &__map {
    width: 320px;
    height: 457px;
    position: relative;
    padding: 40px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 248px;
      left: 138px;
      width: 66px;
      height: 100px;
      background: url(../img/icon-map-pin.svg) no-repeat 0 0;
    }
  }

  &__write-us {
    .center(260px);
    .button();
    display: flex;
    justify-content: center;
  }

}

@media (min-width: @tablet-width) {
  .contacts {
    position: relative;
    .center(@tablet-width);
    padding-top: 67px;
    padding-bottom: 57px;

    &::before {
      content: "";
      position: absolute;
      top: 52px;
      right: 53px;
      width: 47px;
      height: 81px;
      background: url(../img/icon-flag.svg) no-repeat 0 0;
    }

    &__container {
      .container(668px; 50px);
    }

    &__title {
      margin-left: -4px;
      margin-bottom: 50px;
      .font(43px; 700; 50px);
    }

    &__info {
      display: flex;
      align-items: flex-start;
      margin-bottom: 55px;
      .font(17px; 400; 30px);
    }

    &__email {
      width: 334px;
      height: 29px;

      a {
        margin-left: 24px;
      }
    }

    &__address {
      width: 334px;

      span {
        width: 225px;
        margin-left: 24px;
      }
    }

    &__map {
      width: @tablet-width;
      height: 457px;
      margin-bottom: 55px;

      &::after {
        top: 139px;
        left: 364px;
      }
    }

    &__map-img {
      width: @tablet-width;
      height: 457px;
    }

    &__write-us {
      .center(230px);
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    .container(1050px; 50px);
    display: flex;
    padding-top: 78px;
    padding-bottom: 105px;

    &::before {
      top: 140px;
      left: 113px;
    }

    &__container {
      width: 350px;
      padding-left: 175px;
    }

    &__title {
      margin-top: 71px;
      .font(53px; 700; 57px);
    }

    &__info {
      flex-direction: column;
    }

    &__map {
      width: 525px;
      height: 457px;
      margin: 0;

      &::after {
        top: 146px;
        left: 238px;
      }
    }

    &__map-img {
      width: 525px;
      height: 457px;
    }

    &__write-us {
      position: absolute;
      left: 225px;
      bottom: 105px;
      order: -1;
      margin: 0;
    }
  }
}


/* footer.less */

footer {
  background-color: @bg-color;
}

.footer {
  height: 160px;
  .container(260px; 30px);
  margin: 0 auto;

  &__icons {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    box-shadow: inset 0 -1px 0 0 @line;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    .font(19px; 700; 18px);
    padding-top: 20px;
  }
}

.img-copyright {
  padding-left: 30px;
}

@media (min-width: @tablet-width) {
  .footer {
      position: relative;
      display: flex;
      align-items: center;
      .container(668px; 50px);

    &__logo {
      display: block;
      position: relative;
      left: 0;
      width: 102px;
      height: 34px;
      padding-top: 51px;
      padding-bottom: 57px;
    }
  }
}




/* cart-add.less */

.cart-add {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: @popup-background;

  &__wrapper {
    position: fixed;
    top: 100px;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    background-color: @bg-color-con;
    outline: 1px solid @popup-outline;
    box-shadow: 0 5px 10px 0 @popup-shadow;
  }

  &__title {
    .center(150px);
    padding-top: 30px;
    padding-bottom: 12px;
    .font(25px; 700; 30px);
    text-transform: uppercase;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__add {
    .button();
    margin-bottom: 46px;
    line-height: 16px;
    color: @bg-color-con;
    background-color: @main;
    border: none;

    &:hover,
    &:focus {
      background-color: @main-dark;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--closed {
    display: none;
  }
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}


.choice {
  border: none;

  &__title {
    margin-bottom: 23px;
    line-height: 30px;
    color: @popup-title;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    .container(260px; 30px);
    margin: 0 auto;
    margin-bottom: 31px;

    list-style: none;
  }

  &__name {
    box-sizing: border-box;
    display: inline-block;

    width: 82px;
    padding-top: 16px;
    padding-bottom: 16px;
    .font(17px; 700; 16px);
    text-align: center;
    border: 2px solid @popup-item-border;
  }

  &__flag:hover ~ &__name,
  &__flag:focus ~ &__name {
    border-color: @popup-item-border-hov;
  }

  &__flag:checked ~ &__name {
    border-color: @main;
  }
}


.form {
  .container(260px; 30px);
  margin: 0 auto;

  &__fieldset {
    border: none;
  }

  &__legend {
    position: relative;
    .font(17px; 700; 16px);
    color: @main;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 62px;
      width: 198px;
      height: 1px;
      background-color: @main;
    }
  }

  &__list {
      list-style: none;
  }

  &__label {
    .font(17px; 700; 18px);
  }

  &__notice {
    margin-left: -1px;
    margin-bottom: 31px;
    .font(14px; 400; 16px);
  }

  &__button {
    .button(260px);
    margin-bottom: 55px;


  }
}

/* nav-menu.less*/

